nav{
  background-color: #343A40 !important;
}
nav a
{
  cursor: pointer;
}
.dropdown-menu
{
  padding:0 !important;

  min-width: 8.5rem !important;
  border:0;
}

.username
{
  cursor: default !important;
}
